/.idea/
/packetevents-example.iml
/attack-detector/attack-detector.iml
/client-version-accessor/client-version-accessor.iml
/npc-tracker/npc-tracker.iml
/shading-packetevents/shading-packetevents.iml
/attack-detector/target/
/client-version-accessor/target/
/npc-tracker/target/
/shading-packetevents/target/
