/attack-detector/attack-detector.iml
/.idea/
/client-version-accessor/client-version-accessor.iml
/knockback-detector/knockback-detector.iml
/packetevents-example.iml
/shading-packetevents/shading-packetevents.iml
